@charset "UTF-8";

.frm {
	margin: auto;
	width: 660px;
}

.changeInfo {
	padding: 30px;
	align-content: center;
}

input {
	letter-spacing: 1px;
}

select, input[type=date], input[type=password], input[type=text]:not(.input_phone)
	{
	padding-left: 10px;
}

.info_body {
	width: 100%;
	display: flex;
}

.info_body_phone {
	width: 120%
}

.info_row {
	display: flex;
	padding: 10px 0;
	align-items: center;
}

.info_header {
	width: 100px;
}

.info_phone {
	display: flex;
	align-items: center;
	width: 100%;
}

.info_phone input {
	text-align: center;
}

.info_phone>* {
	margin-right: 8px;
}

input[type=button] {
	padding: 3px 3px 3px 10px;
	height: 35px;
	margin-left: 5px;
	width: 125px;
	letter-spacing: 10px
}

.info_zipcode {
	width: 100%;
}

.input_button{
	justify-content: flex-end;
}

.title{
	justify-content: center;
	margin-bottom: 15px
}

